################################################################################
# PROJECT-SPECIFIC
################################################################################

.claude/
.mcp.json
.gemini


################################################################################
# TEMPORARY FILES & DEBUGGING
################################################################################

/temp/
debug-*
test-debug.*
*.debug

################################################################################
# DOCUMENTATION & LOGS
################################################################################

logs/
log/

################################################################################
# TESTING & REPORTS
################################################################################

.playwright-mcp/


################################################################################
# PIPELINE INPUT FILES (keep .gitkeep, ignore documents)
################################################################################

backend/pipeline/input_files/**/processing/*.pdf
backend/pipeline/input_files/**/processing/*.txt
backend/pipeline/input_files/**/processing/*.md
backend/pipeline/input_files/**/processing/*.html
backend/pipeline/input_files/**/processing/*.docx
backend/pipeline/input_files/**/processing/*.eml
backend/pipeline/input_files/**/processing/*.mbox
backend/pipeline/input_files/**/processed/*.pdf
backend/pipeline/input_files/**/processed/*.txt
backend/pipeline/input_files/**/processed/*.md
backend/pipeline/input_files/**/processed/*.html
backend/pipeline/input_files/**/processed/*.docx
backend/pipeline/input_files/**/processed/*.eml
backend/pipeline/input_files/**/processed/*.mbox

################################################################################
# FRONTEND-SPECIFIC
################################################################################

frontend/test-results/
frontend/playwright-report/

################################################################################
# ENVIRONMENT
################################################################################

.venv
.env
.env.local

################################################################################
# OS & IDE
################################################################################

.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Editor temporary files
*.tmp
*.bak
stubs
*.png


.specify
/backend/data
.testdata/*
/examples/*.html
!/examples/sources/books/index.yaml
examples/books-list.md
frontend/scripts/fetch-books.js
/backend/resources.txt

/data/*.txt


!/docs/**/*png
!examples/sources/ingeborg/Achtyrskij_Lyon_Network_Analysis_Report.md
/examples/multimedia/gamefications
/examples/multimedia/images/screenshots/investigate-and-learn
/examples/multimedia/images/screenshots
/examples/multimedia/images/screenshots/*.md
!/backend/.env
/data/*.md

# !/examples/sources/ingeborg/podcast/.md
!/examples/sources/ingeborg/piano-narrativo-podcast.md
/examples/sources/ingeborg/
backend/scripts/youtube_transcript_extractor.py


/examples/multimedia/audio/*Eleven*.mp3
/examples/multimedia/audio/*eleven*.mp3

examples/multimedia/audio/ep01/ep01-01-ElevenLabs_2025-12-25T05_23_42_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep01/ep01-02-ElevenLabs_2025-12-25T05_31_05_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep01/ep01-03-ElevenLabs_2025-12-25T05_37_56_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep01/ep01-04-ElevenLabs_2025-12-25T05_43_25_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep02/ep02-01-ElevenLabs_2025-12-25T09_15_35_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep02/ep02-02-ElevenLabs_2025-12-25T09_21_34_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep02/ep02-03-ElevenLabs_2025-12-25T09_29_02_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep02/ep02-04-ElevenLabs_2025-12-25T09_35_00_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep03/01_ElevenLabs_2025-12-25T11_14_44_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep03/02_ElevenLabs_2025-12-25T11_14_44_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep03/03_ElevenLabs_2025-12-25T11_14_44_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_01_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_01_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_02_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_02_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_03_04_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_03_04_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_05_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (5).mp3
examples/multimedia/audio/ep06/01_05_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_07_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_07_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_08_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_08_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_09_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_09_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_11_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_11_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
examples/multimedia/audio/ep06/01_14_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3 (1).mp3
examples/multimedia/audio/ep06/01_14_ElevenLabs_2025-12-26T09_51_17_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
/examples/multimedia/podcast/ep09/*.mp3

examples/multimedia/podcast/ep08/08_01_02_ElevenLabs_2025-12-28T11_09_38_Jimmy - Plummy, Theatrical and Lively_pvc_sp106_s50_sb100_v3.mp3
data/Achtyrskij_Lyon_Network_Analysis_Report.pdf
data/conversations/2025-12--15-llm-models-benchmarks_2.txt
data/conversations/2025-12-12-fix-devops-docs-issues-1.txt
data/conversations/2025-12-12-fix-devops-docs-issues-2.txt
data/conversations/2025-12-12-fix-devops-docs-issues-3.txt
data/conversations/2025-12-12-fix-devops-docs-issues-4.txt
data/conversations/2025-12-12-fix-devops-docs-issues-5.txt
data/conversations/2025-12-12-fix-devops-docs-issues-6.txt
data/conversations/2025-12-12-fix-devops-docs-issues-7.txt
data/conversations/2025-12-13-caveat-the-messages-below-were-generated-by-the-u.txt
data/conversations/2025-12-14-llm-models-benchmarks.txt
data/conversations/2025-12-15-analyze-the-readme-and-all-the-documentation-of-th.txt
data/conversations/2025-12-15-httpsgithubcomuhh-ltnewsleak-use-the-github_2.txt
data/conversations/2025-12-15-httpsgithubcomuhh-ltnewsleak-use-the-github.txt
data/BISHOP, ROBERT   VOL. 2_0030.pdf
/examples/multimedia/podcast/ep13/*.mp3
examples/multimedia/ebook/Il Teatro dellle Ombre.pdf
/data/*.mp3
examples/multimedia/audio/Die_CIC_Agentin_die_Moskau_überlebte.m4a
examples/multimedia/audio/Silenzio_di_morte_L_agente_Loucek_in_Brasile.m4a
data/CIA_Hoettl_Vol1.pdf
data/CIA_Hoettl_Vol4.pdf
data/CIA_Hoettl_Vol6.pdf
data/DOJ_Barbie_Report_1983.pdf
data/DOJ_Verbelen_Report_1988.pdf
data/Hitlers_Shadow_IWG_Report.pdf
