################################################################################
# PLAYWRIGHT TEST ARTIFACTS
################################################################################

test-results/
playwright-report/
playwright/.cache/

################################################################################
# SCREENSHOTS (exclude test spec files)
################################################################################

*.png
!*.spec.ts
